.cards-category{
    position: relative;
    width: 500px;
    background-color: #F0F8FF;
    min-height: 200px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.415);
}
.cards-category > h3{
    margin-top: 0;
    background-color: #B0C4DE;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.cards-category .deleteBT{
    position: absolute;
    top:0;
    right: 2px;
}
.cards-category .deleteBT:hover{
    color: red;
    transition: 0.5s;
}

