:root {
  --main-color:#1E90FF;
}

#foo {
  color: var(--main-color);
}
.background{
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #fff url(/src/img/background.jpg) center /cover no-repeat;
  /* background: linear-gradient(to right, #30CFD0 0%, #291188 100%); */
  position: fixed;
}